
<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <h1>Editing Tweet</h1>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Show', @tweet, class:'btn btn-xs btn-primary' %>
</div>
</div>
